<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="img/play.png" type="image/x-icon" />
		<title>CHAPTERS.</title>
		<link rel="stylesheets" type="text/css" href="app.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<nav>
			<div>
				<img src="./img/play.png" alt="" class="logo" />
				<h1>CHAPTERS.</h1>
			</div>
			<div>
				<span class="add-chapter-btn">Add chapters</span>
				<label for="vid">Browse</label>
				<input class="vid" name="vid" id="vid" hidden type="file" />
			</div>
		</nav>
		<span class="bg"></span>
		<main>
			<div class="video-container" style="position: relative">
				<video>
					<source src="" type="video/mp4" />
				</video>
				<div class="video-nav">
					<div class="sliced-timeline-con">
						<div class="chapter-tooltip">
							<span class="content"></span>
						</div>
						<div class="slider-sliced"></div>
						<div class="played-sliced"></div>
						<div class="timeskip-sliced"></div>
					</div>
					<div class="controls">
						<div class="left-nav">
							<div>
								<button type="button" class="play-btn">
									<img src="./icons/play.svg" alt="" />
								</button>
								<button type="button" style="display: none" class="pause-btn">
									<img src="./icons/pause.svg" alt="" />
								</button>
							</div>
							<div class="vid-time">
								<span class="vid-current-time">0:00</span> /
								<span class="vid-duration">0:00</span>
							</div>
							<div class="volume-con" style="display: flex">
								<button type="button" class="volume-btn">
									<img src="./icons/volume-2.svg" alt="" />
								</button>
								<input type="range" value="100" name="" id="" />
							</div>
						</div>
						<div class="right-nav" style="display: flex; gap: 15px">
							<button type="button" class="theatre-btn">
								<img src="./icons/theatre.svg" alt="" />
							</button>
							<button type="button" class="maximize-btn">
								<img src="./icons/maximize.svg" alt="" />
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="add-chapters">
				<textarea name="" id="textArea" cols="30" rows="10"></textarea>
				<input type="text" name="" id="text-copied" hidden />
				<button class="copy">Add</button>
			</div>
			<div class="chapters-container">
				<div class="chapters-con">
					<div class="chapter-title">
						<h3>Chapters</h3>
					</div>
					<div class="chapters-body">
						<!-- chapters here -->
					</div>
				</div>
			</div>
		</main>
		<!-- import script -->
		<script type="module" src="js/app.js"></script>
		<script type="module" src="js/index.js"></script>
		<script type="module" src="js/videoplayer.js"></script>
	</body>
</html>
