.description {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

.video-title, .video-description {
    width: fit-content;
}

.video-description {
    margin-top: 1.5rem;
}

/*.video-main {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*}*/