@font-face {
	font-family: "Work Sans";
	src: url("/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Work Sans", sans-serif;
	padding: 1rem 5rem;
	position: relative;
}

nav {
	justify-content: space-between;
}

nav,
nav div {
	display: flex;
	align-items: center;
}

nav label {
	background: none;
	outline: none;
	border: none;

	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 3rem;
}

.logo-con h1 span {
	color: #5353ff;
	text-decoration: none !important;
	font-size: unset;
	cursor: unset;
}

nav span {
	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
}

.logo {
	width: 1.5rem;
	height: 1.5rem;
	object-fit: cover;
}

.logo ~ h1 {
	font-weight: 900;
	margin-left: 0.5rem;
}

main {
	margin-top: 3rem;
	display: flex;
	flex-direction: row;
	width: 100%;
	/* height: 50rem; */
	/* max-height: 50rem; */
}

main > div:first-child {
	border-radius: 1rem;
	overflow: hidden;
	width: 70%;
	height: 100%;
}

main.theatre {
	flex-direction: column;
}

main.theatre > div:first-child {
	width: 100%;
	height: 100%;
}

main > div:first-child video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

main.theatre video {
	max-height: 50rem;
	height: 100%;
}

video {
	min-height: 10rem;
	min-width: 10rem;
	height: 100%;
	width: 100%;
	background-color: black;
}

.waiting-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
	border-radius: 1rem;
	z-index: 1000;
}

main.theatre .chapters-container {
	margin: 2rem 0rem;
	width: 100%;
}

.chapters-container {
	margin: 0 2rem;
	width: 25rem;
	height: 100%;
	border: 1px solid rgb(184, 184, 184);
	border-radius: 1rem;
}

.chapters-container .chapters-con {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	width: 100%;
}

.chapters-container .chapter-title {
	height: 3rem;
	width: 100%;
	border-bottom: 1px solid rgb(184, 184, 184);
}

.chapters-container .chapters-body {
	overflow-y: scroll;
	width: 100%;
	padding: 0 2rem;
	/* height: 30rem; */
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* width */
.chapters-body::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.chapters-body::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.chapters-body::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
.chapters-body::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.chapter {
	width: 100%;
	display: flex;
	border-bottom: 1px solid rgb(187, 187, 187);
	align-items: center;
	padding: 0.5rem 0;
	margin: 0.5rem 0;
	cursor: pointer;
}

.chapter .chapter-img {
	width: 4rem;
	height: 100%;
	margin-right: 1rem;
}

.chapter .chapter-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.chapter .chapter-content p {
	font-size: 14px;
	color: #5353ff;
	font-weight: semibold;
}

.chapter-content h4 {
	font-weight: 600 !important;
	opacity: 0.8;
}

.add-chapters {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	flex-direction: column;
	background: #fff;
	padding: 2rem;
	width: 30rem;
	height: 35rem;
	box-shadow: 1px 1px 10px rgba(182, 182, 182, 0.7);
	border-radius: 1rem;
	z-index: 100;
}

span.bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.add-chapters textarea {
	height: 90%;
	margin-bottom: 0.5rem;
}

.add-chapters button {
	padding: 0.5rem 0;
}

button img {
	pointer-events: none;
}

.video-container {
	transition: all 0.3s ease-in-out;
}
.video-container:hover .video-nav {
	display: flex;
}
.video-nav {
	position: absolute;
	width: 100%;
	height: 5rem;
	bottom: 0;
	left: 0;
	display: none;
	flex-direction: column;
	padding: 0 1rem 0;
	z-index: 100;
	background: rgb(0, 0, 0);
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 0.5816527294511555) 51%,
			rgba(0, 212, 255, 0) 100%
	);
}

.sliced-timeline-con {
	position: relative;
	cursor: pointer;
	border-radius: 50px;
	padding: 20px 0;
	transition: all 100ms ease;
}

.slider-sliced {
	z-index: 1 !important;
}

.sliced-timeline-con:hover,
.sliced-timeline-con:hover .slider-sliced,
.sliced-timeline-con:hover .played-sliced,
.sliced-timeline-con:hover .timeskip-sliced {
	height: 6px;
}

.played-sliced {
	z-index: 10 !important;
}

.timeskip-sliced {
	z-index: 5 !important;
}

.slider-sliced,
.played-sliced,
.timeskip-sliced {
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	border-radius: 50px;
	overflow: hidden;
	position: absolute;
	height: 3px;
}
.controls {
	margin-top: 5px;
}

.slider-sliced,
.timeskip-sliced,
.played-sliced {
	display: flex;
}

.slider-sliced > span,
.timeskip-sliced > span,
.played-sliced > span {
	height: inherit;
	margin-right: 2px;
	border-radius: 50px;
	overflow: hidden;
}
.timeskip-sliced > span,
.played-sliced > span {
	background-color: transparent;
}

.slider-sliced > span:first-child,
.timeskip-sliced > span:first-child,
.played-sliced > span:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.slider-sliced > span:last-child,
.timeskip-sliced > span:last-child,
.played-sliced > span:last-child {
	margin-right: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.slider-sliced > span {
	background-color: rgb(150, 150, 150);
}

.timeskip-sliced > span,
.played-sliced > span {
	position: relative;
}

.timeskip-sliced span > div,
.played-sliced span > div {
	height: 100%;
	z-index: 100;
}

.timeskip-sliced span.past > div,
.played-sliced span.past > div {
	background-color: rgb(50, 50, 255);
	width: 100% !important;
}

.timeskip-sliced span.past > div,
.timeskip-sliced span.active > div {
	background-color: rgb(236, 236, 236);
}

.played-sliced span.active > div {
	background-color: rgb(50, 50, 255);
}

.controls {
	display: flex;
	justify-content: space-between;
}

.controls button {
	background: none;
	outline: none;
	border: none;

	cursor: pointer;
	transform: scale(0.95);
	transition: all 0.2s ease;
}

.controls button:hover {
	transform: scale(1);
}

.theatre-btn {
	transform: scale(0.8) !important;
}

.theatre-btn:hover {
	transform: scale(0.85) !important;
}

.left-nav {
	display: flex;
	gap: 15px;
	align-items: center;
}

.left-nav input {
	transform: scale(0.75);
}

.left-nav .volume-con {
	display: flex;
	justify-content: space-evenly;
	padding-left: 1.5rem !important;
}

.vid-time {
	color: #fff;
	font-size: 14px;
}

.chapter-tooltip {
	position: absolute;
	left: 0;
	top: -75%;
	background-color: black;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	width: fit-content;
	transform: translateX(-50%);
	display: none;
	justify-content: center;
}

.chapter-tooltip div {
	width: auto;
}

.chapter-tooltip span.content {
	font-size: 14px;
	width: auto;
}

@media screen and (max-width: 1100px) {
	body {
		padding: 1rem 2rem;
	}

	main {
		flex-direction: column;
	}

	main > div:first-child {
		width: 100%;
	}

	.chapters-container {
		width: 100%;
		margin: 1rem 0 0;
	}
}

@media screen and (max-width: 900px) {
	body {
		padding: 0.5rem;
	}

	main {
		flex-direction: column;
	}

	main > div:first-child {
		width: 100%;
	}

	.chapters-container {
		width: 100%;
		margin: 1rem 0 0;
	}
}
